{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block breadcrumb %}
<nav class="breadcrumbs">
    <ul>
        <li><a href="{% url 'image_list' %}">Главная</a></li>
        <li><span>{{ image.name }}</span></li>
    </ul>
</nav>
{% endblock  %}

{% block content %}
    <div class="row gutters">
        <div class="col col-9">
            <img src="{{ image.file.url }}" alt="{{ image.name }}" title="{{ image.name }}">
        </div>
        <div class="col col-3">
            <h3>{{ image.name }}</h3>
            <p>{{ image.description }}</p>
            <p class="smaller">Дата съёмки: {{ image.pub_date }}</p>
            <a href="{% url 'image_update' image.pk %}" class="button">Изменить</a>
            <a href="{% url 'image_delete' image.pk %}" class="button secondary outline">Удалить</a>
        </div>
    </div>
{% endblock %}
