{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block content %}
    <h2>Каталог изображений</h2>
    <div class="row">
        <div class="">
            <p><a href="{% url 'image_create' %}" class="button">Загрузить</a></p>
        </div>
        <div class="col col-4 push-right">
            <form action="">
                <div class="row auto">
                    <div class="col">
                        {{ search_form.as_div }}
                    </div>
                    <div class="push-right">
                        <button type="submit" class="button">Найти</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row gutters">
        {% for image in image_list %}
            <div class="col col-4">
                <a href="{% url 'image_detail' image.pk %}">
                    <img src="{{ image.file.url }}" alt="{{ image.name }}" title="{{ image.name }}">
                </a>
            </div>
        {% empty %}
            <div class="col col-4">
                <p>Поиск ничего не нашёл</p>
                <a href="{% url 'image_list' %}">Вернутся на гланую</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
