{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block content %}
<div class="row">
    <div class="col col-4 push-center">
        <h2>{{ image.name }}</h2>
        <form action="" method="post">{% csrf_token %}
            <p>Вы точно хотите удалить "{{ object }}"?</p>
            <div class="form-item">
                <button type="submit" class="button secondary outline">Да</button>
                <a href="{% url 'image_list' %}" class="button">Нет</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
