{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block content %}
<div class="row">
    <div class="col col-4 push-center">
        <h2>Загрузить</h2>
        <form method="post" action="{% url 'image_create' %}" class="form" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.as_div}}
            <div class="form-item">
                <button type="submit" class="button">Загрузить</button>
                <a href="{% url 'image_list' %}" class="button secondary outline">Отмена</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
