{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block content %}
    <h1>404</h1>
    <h3>Такой страницы нету</h3>
    <p><a href="{% url 'image_list' %}">на главную</a></p>
{% endblock %}
