<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Pressfoto Тестовое задание{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/kube.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<div class="row align-center">
    <div class="col col-10">
        {% block breadcrumb %}{% endblock %}
        {% block content %}{% endblock %}
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</body>
</html>
